<div class="templates" style="display:none">
    <div class="menuItemTemplate">
        <ul>
            <li class="nav-item menuItem">
                <a class="nav-link" href="#">linkText</a>
            </li>
        </ul>
    </div>
    <div class="menuItemLoginTemplate">
        <ul>
            <li class="nav-item menuItem">
                <a class="nav-link menuItemLogin" href="javascript:$.dehelper.showLoginDialog()"><span class="glyphicon glyphicon-user"></span>Login</a>
            </li>
        </ul>
    </div>
    <div class="menuItemLogoutTemplate">
        <ul>
            <li class="nav-item menuItem">
                <a class="nav-link menuItemLogin" href="javascript:$.dehelper.logout()">Logout</a>
            </li>
        </ul>
    </div>

</div>